UPSTASH_REDIS_REST_URL="https://valued-humpback-156520.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAmNoAAIgcDFiY2QxZjkzOTE2YjU0NTU2OGM3ODhlMDk2OGUxOWZiNQ"
DATABASE_URL="postgresql://neondb_owner:npg_VGH4OnxCFv2P@ep-rapid-hall-a5gnlurt-pooler.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"